{
  "openapi": "3.1.0",
  "info": {
    "title": "OntoPortal REST API",
    "version": "1.0.0",
    "description": "OpenAPI specification for the OntoPortal/BioPortal REST API, inferred from\nofficial documentation and observed response structures.\n"
  },
  "servers": [
    {
      "url": "https://data.bioontology.org",
      "description": "BioPortal — The world's most comprehensive repository of biomedical ontologies"
    },
    {
      "url": "https://data.bioportal.lirmm.fr",
      "description": "SIFR BioPortal — A repository for French biomedical terminologies and ontologies"
    },
    {
      "url": "https://data.agroportal.lirmm.fr",
      "description": "AgroPortal — A vocabulary and ontology repository for agronomy and related domains"
    },
    {
      "url": "https://data.ecoportal.lifewatch.eu",
      "description": "EcoPortal — The LifeWatch ERIC repository of semantic resources for ecology and related domains"
    },
    {
      "url": "https://data.earthportal.eu",
      "description": "EarthPortal — A semantic artefact repository dedicated to Earth sciences"
    },
    {
      "url": "https://data.biodivportal.gfbio.org",
      "description": "BiodivPortal — A semantic artefact repository for biodiversity"
    },
    {
      "url": "https://data.technoportal.hevs.ch",
      "description": "TechnoPortal — A repository for the technology sciences domain"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Ontologies"
    },
    {
      "name": "Classes"
    },
    {
      "name": "Search"
    },
    {
      "name": "Annotation"
    },
    {
      "name": "Recommendation"
    }
  ],
  "paths": {
    "/ontologies": {
      "get": {
        "tags": [
          "Ontologies"
        ],
        "summary": "List ontologies",
        "description": "Returns the list of ontologies available in the portal.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKeyQuery"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/Include"
          },
          {
            "$ref": "#/components/parameters/Format"
          },
          {
            "$ref": "#/components/parameters/IncludeViews"
          },
          {
            "$ref": "#/components/parameters/DisplayContext"
          },
          {
            "$ref": "#/components/parameters/DisplayLinks"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of ontologies.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedOntologyList"
                },
                "examples": {
                  "ontologies": {
                    "value": {
                      "page": 1,
                      "pageCount": 10,
                      "collection": [
                        {
                          "acronym": "SNOMEDCT",
                          "name": "SNOMED CT",
                          "description": "Systematized Nomenclature of Medicine",
                          "links": {
                            "self": {
                              "href": "https://data.bioontology.org/ontologies/SNOMEDCT"
                            }
                          }
                        }
                      ],
                      "_links": {
                        "nextPage": {
                          "href": "https://data.bioontology.org/ontologies?page=2"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/ontologies/{acronym}": {
      "get": {
        "tags": [
          "Ontologies"
        ],
        "summary": "Get ontology",
        "description": "Returns a specific ontology by acronym.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Acronym"
          },
          {
            "$ref": "#/components/parameters/ApiKeyQuery"
          },
          {
            "$ref": "#/components/parameters/Include"
          },
          {
            "$ref": "#/components/parameters/Format"
          },
          {
            "$ref": "#/components/parameters/IncludeViews"
          },
          {
            "$ref": "#/components/parameters/DisplayContext"
          },
          {
            "$ref": "#/components/parameters/DisplayLinks"
          }
        ],
        "responses": {
          "200": {
            "description": "Ontology details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ontology"
                },
                "examples": {
                  "ontology": {
                    "value": {
                      "acronym": "SNOMEDCT",
                      "name": "SNOMED CT",
                      "description": "Systematized Nomenclature of Medicine",
                      "links": {
                        "classes": {
                          "href": "https://data.bioontology.org/ontologies/SNOMEDCT/classes"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/ontologies/{acronym}/classes": {
      "get": {
        "tags": [
          "Classes"
        ],
        "summary": "List classes in an ontology",
        "description": "Returns classes for the specified ontology.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Acronym"
          },
          {
            "$ref": "#/components/parameters/ApiKeyQuery"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/Include"
          },
          {
            "$ref": "#/components/parameters/Format"
          },
          {
            "$ref": "#/components/parameters/DisplayContext"
          },
          {
            "$ref": "#/components/parameters/DisplayLinks"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of classes in the ontology.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedClassList"
                },
                "examples": {
                  "classes": {
                    "value": {
                      "page": 1,
                      "pageCount": 200,
                      "collection": [
                        {
                          "@id": "http://snomed.info/id/24700007",
                          "prefLabel": "Melanoma",
                          "synonym": [
                            "Malignant melanoma"
                          ],
                          "definition": [
                            "Malignant tumor of melanocytes."
                          ],
                          "links": {
                            "self": {
                              "href": "https://data.bioontology.org/ontologies/SNOMEDCT/classes/http%3A%2F%2Fsnomed.info%2Fid%2F24700007"
                            }
                          }
                        }
                      ],
                      "_links": {
                        "nextPage": {
                          "href": "https://data.bioontology.org/ontologies/SNOMEDCT/classes?page=2"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/ontologies/{acronym}/classes/{classId}": {
      "get": {
        "tags": [
          "Classes"
        ],
        "summary": "Get a class",
        "description": "Returns a class by encoded class IRI.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Acronym"
          },
          {
            "$ref": "#/components/parameters/ClassId"
          },
          {
            "$ref": "#/components/parameters/ApiKeyQuery"
          },
          {
            "$ref": "#/components/parameters/Include"
          },
          {
            "$ref": "#/components/parameters/Format"
          },
          {
            "$ref": "#/components/parameters/DisplayContext"
          },
          {
            "$ref": "#/components/parameters/DisplayLinks"
          }
        ],
        "responses": {
          "200": {
            "description": "Class details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OntologyClass"
                },
                "examples": {
                  "class": {
                    "value": {
                      "@id": "http://snomed.info/id/24700007",
                      "prefLabel": "Melanoma",
                      "synonym": [
                        "Malignant melanoma"
                      ],
                      "definition": [
                        "Malignant tumor of melanocytes."
                      ],
                      "_links": {
                        "parents": {
                          "href": "https://data.bioontology.org/ontologies/SNOMEDCT/classes/http%3A%2F%2Fsnomed.info%2Fid%2F299115000/parents"
                        },
                        "children": {
                          "href": "https://data.bioontology.org/ontologies/SNOMEDCT/classes/http%3A%2F%2Fsnomed.info%2Fid%2F24700007/children"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/search": {
      "get": {
        "tags": [
          "Search"
        ],
        "summary": "Search",
        "description": "Search ontologies for classes.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKeyQuery"
          },
          {
            "$ref": "#/components/parameters/Q"
          },
          {
            "$ref": "#/components/parameters/Ontologies"
          },
          {
            "$ref": "#/components/parameters/Ontology"
          },
          {
            "$ref": "#/components/parameters/SubtreeRootId"
          },
          {
            "$ref": "#/components/parameters/RootsOnly"
          },
          {
            "$ref": "#/components/parameters/SemanticTypes"
          },
          {
            "$ref": "#/components/parameters/CUI"
          },
          {
            "$ref": "#/components/parameters/RequireExactMatch"
          },
          {
            "$ref": "#/components/parameters/Suggest"
          },
          {
            "$ref": "#/components/parameters/AlsoSearchViews"
          },
          {
            "$ref": "#/components/parameters/RequireDefinitions"
          },
          {
            "$ref": "#/components/parameters/AlsoSearchProperties"
          },
          {
            "$ref": "#/components/parameters/AlsoSearchObsolete"
          },
          {
            "$ref": "#/components/parameters/Language"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/Include"
          },
          {
            "$ref": "#/components/parameters/Format"
          },
          {
            "$ref": "#/components/parameters/DisplayContext"
          },
          {
            "$ref": "#/components/parameters/DisplayLinks"
          }
        ],
        "responses": {
          "200": {
            "description": "Search results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                },
                "examples": {
                  "search": {
                    "value": {
                      "page": 1,
                      "pageCount": 50,
                      "collection": [
                        {
                          "prefLabel": "Melanoma",
                          "synonym": [
                            "Malignant melanoma"
                          ],
                          "definition": [
                            "Malignant tumor of melanocytes."
                          ],
                          "annotatedClass": {
                            "@id": "http://snomed.info/id/24700007",
                            "links": {
                              "self": {
                                "href": "https://data.bioontology.org/ontologies/SNOMEDCT/classes/http%3A%2F%2Fsnomed.info%2Fid%2F24700007"
                              }
                            }
                          }
                        }
                      ],
                      "_links": {
                        "nextPage": {
                          "href": "https://data.bioontology.org/search?q=melanoma&page=2"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/annotator": {
      "get": {
        "tags": [
          "Annotation"
        ],
        "summary": "Annotate text",
        "description": "Annotate input text with ontology concepts.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKeyQuery"
          },
          {
            "$ref": "#/components/parameters/Text"
          },
          {
            "$ref": "#/components/parameters/Ontologies"
          },
          {
            "$ref": "#/components/parameters/SemanticTypes"
          },
          {
            "$ref": "#/components/parameters/ExpandSemanticTypesHierarchy"
          },
          {
            "$ref": "#/components/parameters/ExpandClassHierarchy"
          },
          {
            "$ref": "#/components/parameters/ClassHierarchyMaxLevel"
          },
          {
            "$ref": "#/components/parameters/ExpandMappings"
          },
          {
            "$ref": "#/components/parameters/StopWords"
          },
          {
            "$ref": "#/components/parameters/MinimumMatchLength"
          },
          {
            "$ref": "#/components/parameters/ExcludeNumbers"
          },
          {
            "$ref": "#/components/parameters/WholeWordOnly"
          },
          {
            "$ref": "#/components/parameters/ExcludeSynonyms"
          },
          {
            "$ref": "#/components/parameters/LongestOnly"
          },
          {
            "$ref": "#/components/parameters/Format"
          },
          {
            "$ref": "#/components/parameters/DisplayContext"
          },
          {
            "$ref": "#/components/parameters/DisplayLinks"
          }
        ],
        "responses": {
          "200": {
            "description": "Annotations.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnnotationList"
                },
                "examples": {
                  "annotations": {
                    "value": [
                      {
                        "annotatedClass": {
                          "@id": "http://snomed.info/id/24700007",
                          "prefLabel": "Melanoma"
                        },
                        "annotations": [
                          {
                            "text": "melanoma",
                            "from": 13,
                            "to": 21,
                            "matchType": "PREF"
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/recommender": {
      "get": {
        "tags": [
          "Recommendation"
        ],
        "summary": "Recommender",
        "description": "Recommends ontologies for the given input.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKeyQuery"
          },
          {
            "$ref": "#/components/parameters/Input"
          },
          {
            "$ref": "#/components/parameters/InputType"
          },
          {
            "$ref": "#/components/parameters/OutputType"
          },
          {
            "$ref": "#/components/parameters/MaxElementsSet"
          },
          {
            "$ref": "#/components/parameters/WC"
          },
          {
            "$ref": "#/components/parameters/WA"
          },
          {
            "$ref": "#/components/parameters/WD"
          },
          {
            "$ref": "#/components/parameters/WS"
          },
          {
            "$ref": "#/components/parameters/Ontologies"
          },
          {
            "$ref": "#/components/parameters/Format"
          },
          {
            "$ref": "#/components/parameters/DisplayContext"
          },
          {
            "$ref": "#/components/parameters/DisplayLinks"
          }
        ],
        "responses": {
          "200": {
            "description": "Recommender results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecommenderResponse"
                },
                "examples": {
                  "recommender": {
                    "value": [
                      {
                        "ontology": {
                          "acronym": "SNOMEDCT",
                          "name": "SNOMED CT"
                        },
                        "score": 0.91,
                        "coverageResult": {
                          "score": 0.9
                        },
                        "specializationResult": {
                          "score": 0.85
                        },
                        "acceptanceResult": {
                          "score": 0.95
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "query",
        "name": "apikey",
        "description": "Use query parameter `apikey=YOUR_KEY`."
      }
    },
    "parameters": {
      "ApiKeyQuery": {
        "name": "apikey",
        "in": "query",
        "required": false,
        "schema": {
          "type": "string"
        },
        "description": "API key."
      },
      "Acronym": {
        "name": "acronym",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Ontology acronym."
      },
      "ClassId": {
        "name": "classId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "URL-encoded class IRI."
      },
      "Q": {
        "name": "q",
        "in": "query",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Search query string."
      },
      "Text": {
        "name": "text",
        "in": "query",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Input text for annotation."
      },
      "Input": {
        "name": "input",
        "in": "query",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Input text for recommender."
      },
      "Ontologies": {
        "name": "ontologies",
        "in": "query",
        "required": false,
        "schema": {
          "type": "string"
        },
        "description": "Comma-separated list of ontology acronyms."
      },
      "Page": {
        "name": "page",
        "in": "query",
        "required": false,
        "schema": {
          "type": "integer",
          "minimum": 1
        },
        "description": "Page number (1-based)."
      },
      "PageSize": {
        "name": "pagesize",
        "in": "query",
        "required": false,
        "schema": {
          "type": "integer",
          "minimum": 1
        },
        "description": "Page size."
      },
      "Include": {
        "name": "include",
        "in": "query",
        "required": false,
        "schema": {
          "type": "string"
        },
        "description": "Comma-separated fields to include (e.g., prefLabel,synonym,definition)."
      },
      "Format": {
        "name": "format",
        "in": "query",
        "required": false,
        "schema": {
          "type": "string",
          "enum": [
            "json",
            "jsonp",
            "xml"
          ]
        },
        "description": "Response format (overrides Accept header)."
      },
      "IncludeViews": {
        "name": "include_views",
        "in": "query",
        "required": false,
        "schema": {
          "type": "boolean"
        },
        "description": "Include ontology views in ontology-related calls."
      },
      "DisplayContext": {
        "name": "display_context",
        "in": "query",
        "required": false,
        "schema": {
          "type": "boolean"
        },
        "description": "Toggle JSON-LD context serialization (default true)."
      },
      "DisplayLinks": {
        "name": "display_links",
        "in": "query",
        "required": false,
        "schema": {
          "type": "boolean"
        },
        "description": "Toggle hypermedia link serialization (default true)."
      },
      "DownloadFormat": {
        "name": "download_format",
        "in": "query",
        "required": false,
        "schema": {
          "type": "string",
          "enum": [
            "csv",
            "rdf"
          ]
        },
        "description": "Alternative format for ontology downloads (where supported)."
      },
      "Language": {
        "name": "language",
        "in": "query",
        "required": false,
        "schema": {
          "type": "string"
        },
        "description": "ISO 639-1 language code (e.g., en, fr)."
      },
      "Ontology": {
        "name": "ontology",
        "in": "query",
        "required": false,
        "schema": {
          "type": "string"
        },
        "description": "Single ontology acronym (used for subtree and roots-only searches)."
      },
      "SubtreeRootId": {
        "name": "subtree_root_id",
        "in": "query",
        "required": false,
        "schema": {
          "type": "string"
        },
        "description": "URI-encoded class IRI for subtree root."
      },
      "RootsOnly": {
        "name": "roots_only",
        "in": "query",
        "required": false,
        "schema": {
          "type": "boolean"
        },
        "description": "Restrict search to root classes only."
      },
      "RequireExactMatch": {
        "name": "require_exact_match",
        "in": "query",
        "required": false,
        "schema": {
          "type": "boolean"
        },
        "description": "Restrict to exact matches of the query."
      },
      "Suggest": {
        "name": "suggest",
        "in": "query",
        "required": false,
        "schema": {
          "type": "boolean"
        },
        "description": "Type-ahead suggestion mode."
      },
      "AlsoSearchViews": {
        "name": "also_search_views",
        "in": "query",
        "required": false,
        "schema": {
          "type": "boolean"
        },
        "description": "Include ontology views in search results."
      },
      "RequireDefinitions": {
        "name": "require_definitions",
        "in": "query",
        "required": false,
        "schema": {
          "type": "boolean"
        },
        "description": "Only return results with definitions."
      },
      "AlsoSearchProperties": {
        "name": "also_search_properties",
        "in": "query",
        "required": false,
        "schema": {
          "type": "boolean"
        },
        "description": "Search across class properties in addition to labels."
      },
      "AlsoSearchObsolete": {
        "name": "also_search_obsolete",
        "in": "query",
        "required": false,
        "schema": {
          "type": "boolean"
        },
        "description": "Include obsolete terms in search."
      },
      "CUI": {
        "name": "cui",
        "in": "query",
        "required": false,
        "schema": {
          "type": "string"
        },
        "description": "Comma-separated CUIs to restrict the search."
      },
      "SemanticTypes": {
        "name": "semantic_types",
        "in": "query",
        "required": false,
        "schema": {
          "type": "string"
        },
        "description": "Comma-separated UMLS semantic types."
      },
      "ExpandSemanticTypesHierarchy": {
        "name": "expand_semantic_types_hierarchy",
        "in": "query",
        "required": false,
        "schema": {
          "type": "boolean"
        },
        "description": "Include immediate children of provided semantic types."
      },
      "ExpandClassHierarchy": {
        "name": "expand_class_hierarchy",
        "in": "query",
        "required": false,
        "schema": {
          "type": "boolean"
        },
        "description": "Include ancestors based on class hierarchy depth."
      },
      "ClassHierarchyMaxLevel": {
        "name": "class_hierarchy_max_level",
        "in": "query",
        "required": false,
        "schema": {
          "type": "integer",
          "minimum": 0
        },
        "description": "Max hierarchy depth for expand_class_hierarchy."
      },
      "ExpandMappings": {
        "name": "expand_mappings",
        "in": "query",
        "required": false,
        "schema": {
          "type": "boolean"
        },
        "description": "Use manual mappings (UMLS, REST, CUI, OBOXREF) in annotation."
      },
      "StopWords": {
        "name": "stop_words",
        "in": "query",
        "required": false,
        "schema": {
          "type": "string"
        },
        "description": "Comma-separated stop words (case-insensitive)."
      },
      "MinimumMatchLength": {
        "name": "minimum_match_length",
        "in": "query",
        "required": false,
        "schema": {
          "type": "integer",
          "minimum": 0
        },
        "description": "Minimum match length for annotations."
      },
      "ExcludeNumbers": {
        "name": "exclude_numbers",
        "in": "query",
        "required": false,
        "schema": {
          "type": "boolean"
        },
        "description": "Exclude numeric matches."
      },
      "WholeWordOnly": {
        "name": "whole_word_only",
        "in": "query",
        "required": false,
        "schema": {
          "type": "boolean"
        },
        "description": "Match whole words only."
      },
      "ExcludeSynonyms": {
        "name": "exclude_synonyms",
        "in": "query",
        "required": false,
        "schema": {
          "type": "boolean"
        },
        "description": "Exclude synonyms from matches."
      },
      "LongestOnly": {
        "name": "longest_only",
        "in": "query",
        "required": false,
        "schema": {
          "type": "boolean"
        },
        "description": "Return only the longest match for a phrase."
      },
      "InputType": {
        "name": "input_type",
        "in": "query",
        "required": false,
        "schema": {
          "type": "integer",
          "enum": [
            1,
            2
          ]
        },
        "description": "1=text, 2=comma-separated keywords."
      },
      "OutputType": {
        "name": "output_type",
        "in": "query",
        "required": false,
        "schema": {
          "type": "integer",
          "enum": [
            1,
            2
          ]
        },
        "description": "1=ranked ontologies, 2=ranked ontology sets."
      },
      "MaxElementsSet": {
        "name": "max_elements_set",
        "in": "query",
        "required": false,
        "schema": {
          "type": "integer",
          "enum": [
            2,
            3,
            4
          ]
        },
        "description": "Maximum ontologies per set (output_type=2)."
      },
      "WC": {
        "name": "wc",
        "in": "query",
        "required": false,
        "schema": {
          "type": "number",
          "minimum": 0,
          "maximum": 1
        },
        "description": "Weight for coverage criterion."
      },
      "WA": {
        "name": "wa",
        "in": "query",
        "required": false,
        "schema": {
          "type": "number",
          "minimum": 0,
          "maximum": 1
        },
        "description": "Weight for acceptance criterion."
      },
      "WD": {
        "name": "wd",
        "in": "query",
        "required": false,
        "schema": {
          "type": "number",
          "minimum": 0,
          "maximum": 1
        },
        "description": "Weight for detail criterion."
      },
      "WS": {
        "name": "ws",
        "in": "query",
        "required": false,
        "schema": {
          "type": "number",
          "minimum": 0,
          "maximum": 1
        },
        "description": "Weight for specialization criterion."
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Invalid request.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Invalid or missing API key.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Access denied.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "RateLimited": {
        "description": "Too many requests.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "error": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "Link": {
        "type": "object",
        "properties": {
          "href": {
            "type": "string",
            "format": "uri"
          }
        },
        "additionalProperties": true
      },
      "Links": {
        "type": "object",
        "properties": {
          "self": {
            "$ref": "#/components/schemas/Link"
          },
          "nextPage": {
            "$ref": "#/components/schemas/Link"
          },
          "prevPage": {
            "$ref": "#/components/schemas/Link"
          },
          "children": {
            "$ref": "#/components/schemas/Link"
          },
          "parents": {
            "$ref": "#/components/schemas/Link"
          },
          "ancestors": {
            "$ref": "#/components/schemas/Link"
          },
          "descendants": {
            "$ref": "#/components/schemas/Link"
          }
        },
        "additionalProperties": true
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer"
          },
          "pageCount": {
            "type": "integer"
          },
          "totalCount": {
            "type": "integer"
          }
        },
        "additionalProperties": true
      },
      "Ontology": {
        "type": "object",
        "properties": {
          "acronym": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "ontologyType": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "administeredBy": {
            "type": "string"
          },
          "resourceType": {
            "type": "string"
          },
          "@id": {
            "type": "string",
            "format": "uri"
          },
          "links": {
            "$ref": "#/components/schemas/Links"
          },
          "_links": {
            "$ref": "#/components/schemas/Links"
          }
        },
        "additionalProperties": true
      },
      "OntologyClass": {
        "type": "object",
        "properties": {
          "@id": {
            "type": "string",
            "format": "uri"
          },
          "id": {
            "type": "string"
          },
          "prefLabel": {
            "type": "string"
          },
          "synonym": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "definition": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "@type": {
            "type": "string"
          },
          "links": {
            "$ref": "#/components/schemas/Links"
          },
          "_links": {
            "$ref": "#/components/schemas/Links"
          }
        },
        "additionalProperties": true
      },
      "SearchResult": {
        "type": "object",
        "properties": {
          "prefLabel": {
            "type": "string"
          },
          "synonym": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "definition": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "annotatedClass": {
            "type": "object",
            "properties": {
              "@id": {
                "type": "string",
                "format": "uri"
              },
              "links": {
                "$ref": "#/components/schemas/Links"
              }
            },
            "additionalProperties": true
          },
          "links": {
            "$ref": "#/components/schemas/Links"
          },
          "_links": {
            "$ref": "#/components/schemas/Links"
          }
        },
        "additionalProperties": true
      },
      "Annotation": {
        "type": "object",
        "properties": {
          "annotatedClass": {
            "type": "object",
            "additionalProperties": true
          },
          "annotations": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "text": {
                  "type": "string"
                },
                "from": {
                  "type": "integer"
                },
                "to": {
                  "type": "integer"
                },
                "matchType": {
                  "type": "string"
                }
              },
              "additionalProperties": true
            }
          }
        },
        "additionalProperties": true
      },
      "RecommenderResult": {
        "type": "object",
        "properties": {
          "ontology": {
            "$ref": "#/components/schemas/Ontology"
          },
          "score": {
            "type": "number"
          },
          "coverageResult": {
            "type": "object",
            "additionalProperties": true
          },
          "specializationResult": {
            "type": "object",
            "additionalProperties": true
          },
          "acceptanceResult": {
            "type": "object",
            "additionalProperties": true
          },
          "detail": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "additionalProperties": true
      },
      "PaginatedOntologyList": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Pagination"
          },
          {
            "type": "object",
            "properties": {
              "collection": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Ontology"
                }
              },
              "_links": {
                "$ref": "#/components/schemas/Links"
              },
              "links": {
                "$ref": "#/components/schemas/Links"
              }
            }
          }
        ]
      },
      "PaginatedClassList": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Pagination"
          },
          {
            "type": "object",
            "properties": {
              "collection": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/OntologyClass"
                }
              },
              "_links": {
                "$ref": "#/components/schemas/Links"
              },
              "links": {
                "$ref": "#/components/schemas/Links"
              }
            }
          }
        ]
      },
      "SearchResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Pagination"
          },
          {
            "type": "object",
            "properties": {
              "collection": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SearchResult"
                }
              },
              "_links": {
                "$ref": "#/components/schemas/Links"
              },
              "links": {
                "$ref": "#/components/schemas/Links"
              }
            }
          }
        ]
      },
      "AnnotationList": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Annotation"
        }
      },
      "RecommenderResponse": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/RecommenderResult"
        }
      }
    }
  }
}